/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* COLORS */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --font-size-body: 18px;
}

/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
}

/* GENERAL STYLES */
body {
    background-color: var(--dark-cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    height: 100dvh;
    display: grid;
    place-content: center;
}

main {
    width: 345px;
}

/********** PROFILE CARD **********/
.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 25%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 370px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

.card-top {
    background: url(images/bg-pattern-card.svg);
    flex: 2;
}

#victor-img {
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    display: block;
    top: 95px;
    margin: 0 auto;
    z-index: 1;
}

.card-middle {
    background-color: white;
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.card-middle-text {
    margin-bottom: 25px;
}

.card-middle .name {
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
    color: var(--dark-blue);
    font-weight: 700;
    margin: 5px 0;
}

.card-middle-text .age {
    color: var(--dark-gray)
}

.card-middle .city {
    color: var(--dark-gray);
    margin: 0;
    padding: 0;
}

/* CARD STATS */
.card-bottom {
    background-color: white;
    height: 75px;
    flex: 1;
    border-top: 0.25px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card-bottom .stat-number {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.125rem;
}

.card-bottom .stat-name {
    color: var(--dark-gray);
    letter-spacing: 2px;
    font-size: 0.75em;
}

/********** ATTRIBUTION **********/
.attribution {
    color: white;
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
}

.attribution p {
    margin: 5px 0;
}

.attribution a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 376px) {
    .main {
        width: 90%;
    }
}